.error-view {
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  block-size: 500px;

  &-title {
    color: $black-color;
    font-size: 1.25rem;
    margin-block-end: 1rem;
  }

  &-link {
    color: $blue-color;
    text-decoration: none;
    font-size: 0.875rem;
  }
}