.skeleton-animation {
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: $skeleton-grey-color;
  }
  100% {
    background-color: $skeleton-dark-grey-color;
  }
}