$yellow-color: #FFE600;
$blue-color: #3483FA;
$black-color: #333333;
$dark-grey-color: #666666;
$regular-grey-color: #999999;
$light-grey-color: #EEEEEE;
$white-color: #FFFFFF;

$skeleton-grey-color: #f7f7f7;
$skeleton-dark-grey-color: #dddddd;

$xs: 0px;
$sm: 600px;
$md: 900px;
$lg: 1200px;
$xl: 1300px;
$xxl: 1536px;
