.productItemCard {
  inline-size: 100%;
  border-block-end: solid 1px $light-grey-color;
  padding: 1rem 0;
  box-sizing: border-box;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
  text-decoration: none;

  &-last {
    border-block-end: none;
  }

  &-image {
    aspect-ratio: 1;

    inline-size: 100%;
    max-inline-size: 11.25rem;

    border-radius: 0.25rem;
    margin: 0 auto;

    overflow: hidden;
    object-fit: cover;
    object-position: center;

    grid-column: 1 / 2;
  }

  &-data {
    grid-column: 1 / 2;
    padding-block-start: 0.6rem;
  }

  &-price {
    display: flex;
    justify-items: center;
    align-items: center;
    column-gap: 0.5rem;
    margin-block-end: 1rem;
    color: $black-color;

    &-value {
      font-size: 1.5rem;
    }

    &-shipping {
      inline-size: 1.3rem;
    }
  }

  &-description {
    color: $black-color;
    font-size: 1.125rem;
  }

  &-location {
    font-size: 0.75rem;
    color: $regular-grey-color;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding-block-start: 0;
    text-align: center;
  }
}

@media (min-width: $sm) {
  .productItemCard {
    grid-template-columns: repeat(10, 1fr);

    &-image {
      grid-column: 1 / 3;
    }

    &-data {
      grid-column: 3 / 9;
    }

    &-price {
      &-value {
        font-size: 1.3rem;
      }
  
      &-shipping {
        inline-size: 1rem;
      }
    }

    &-description {
      font-size: 1rem;
    }

    &-location {
      grid-column: 9 / 11;
      padding-block-start: 1.5rem;
      text-align: start;
      grid-row: auto;
    }
  }
}

@media (min-width: $md) {
  .productItemCard {
    &-data {
      grid-column: 3 / 8;
    }

    &-description {
      font-size: 1.125rem;
    }

  }
}