.home {
  padding: 2rem 0.75rem;
  box-sizing: border-box;
  
  &-content {
    inline-size: 100%;
    max-inline-size: $lg;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  &-breadcrumb {
    margin-block-end: 2rem;
    grid-column: 2 / 12;
  }

  &-productList {
    grid-column: 2 / 12;
  }
}