.header {
  background-color: $yellow-color;
  inline-size: 100%;
  padding: 1rem;
  box-sizing: border-box;
  transition: all .4s;

  &-content {
    inline-size: 100%;
    max-inline-size: $xl;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(12, 1fr);
    margin: 0 auto;
  }

  &-logo {
    grid-column: 1 / 2;
    & > a {
      display: flex;
      & > img {
        margin: auto;
        margin-inline-end: 0;
        block-size: 2.5rem;
      }
    }
  }

  &-search {
    grid-column: 2 / 13;
  }
}

@media (min-width: $sm) {
  .header {
    &-logo {
      grid-column: 2 / 3;
    }
    &-search {
      grid-column: 3 / 12;
    }
  }
}

@media (min-width: $md) {
  .header {
    padding: 0.75rem;

    &-content {
      grid-template-columns: repeat(12, 1fr);
    }

    &-logo {
      grid-column: 2 / 3;
    }

    &-search {
      grid-column: 3 / 12;
    }
  }
}
